.main {
  margin-top: 80px;
}

.songImage {
  display: block;
  width: 100%;
}

.notification {
  width: 300px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding-right: 15px;
  display: flex;
  align-items: center;
}

.notification-close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
}
